<section class="section section-products" id="products">
  <div class="container container-products">
    <h2 class="title-products">Яйця інкубаційні</h2>
    <div class="card-container">
    <div class="card">
      <div class="image-block">
        <img class="image-products"
          src="../img/products/eggs.jpg"
          alt="eggs"
          width="208"
          height="248"
        />
      </div>
      <span class="cart-text"> Яйця інкубаційні морана </span>
      <div class="cart-block">
        <div>
          <span class="cart-price"> 30 &#8372; </span
          ><span class="cart-value"> шт. </span>
        </div>
        <div aria-label="Add to Cart">
          <button
            class="btn-buy"
            type="button"
            aria-label="Increase quantity by 1"
          >
            Додати до кошика
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="image-block">
        <img class="image-products"
          src="../img/products/eggs.jpg"
          alt="eggs"
          width="208"
          height="248"
        />
      </div>
      <span class="cart-text"> Яйця інкубаційні морана </span>
      <div class="cart-block">
        <div>
          <span class="cart-price"> 30 &#8372; </span
          ><span class="cart-value"> шт. </span>
        </div>
        <div aria-label="Add to Cart">
          <button
            class="btn-buy"
            type="button"
            aria-label="Increase quantity by 1"
          >
            Додати до кошика
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="image-block">
        <img class="image-products"
          src="../img/products/eggs-2.jpg"
          alt="eggs"
          width="208"
          height="248"
        />
      </div>
      <span class="cart-text"> Яйця інкубаційні морана </span>
      <div class="cart-block">
        <div>
          <span class="cart-price"> 30 &#8372; </span
          ><span class="cart-value"> шт. </span>
        </div>
        <div aria-label="Add to Cart">
          <button
            class="btn-buy"
            type="button"
            aria-label="Increase quantity by 1"
          >
            Додати до кошика
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="image-block">
        <img class="image-products"
          src="../img/products/eggs-1.jpg"
          alt="eggs"
          width="208"
          height="248"
        />
      </div>
      <span class="cart-text"> Яйця інкубаційні морана </span>
      <div class="cart-block">
        <div>
          <span class="cart-price"> 30 &#8372; </span
          ><span class="cart-value"> шт. </span>
        </div>
        <div aria-label="Add to Cart">
          <button
            class="btn-buy"
            type="button"
            aria-label="Increase quantity by 1"
          >
            Додати до кошика
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="image-block">
        <img class="image-products"
          src="../img/products/quail-eggs.jpg"
          alt="eggs"
          width="208"
          height="248"
        />
      </div>
      <span class="cart-text"> Яйця інкубаційні морана </span>
      <div class="cart-block">
        <div>
          <span class="cart-price"> 30 &#8372; </span
          ><span class="cart-value"> шт. </span>
        </div>
        <div aria-label="Add to Cart">
          <button
            class="btn-buy"
            type="button"
            aria-label="Increase quantity by 1"
          >
            Додати до кошика
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="image-block">
        <img class="image-products"
          src="../img/products/eggs.jpg"
          alt="eggs"
          width="208"
          height="248"
        />
      </div>
      <span class="cart-text"> Яйця інкубаційні морана </span>
      <div class="cart-block">
        <div>
          <span class="cart-price"> 30 &#8372; </span
          ><span class="cart-value"> шт. </span>
        </div>
        <div aria-label="Add to Cart">
          <button
            class="btn-buy"
            type="button"
            aria-label="Increase quantity by 1"
          >
            Додати до кошика
          </button>
        </div>
      </div>
    </div> 
    </div>
  </div>
</section>
